<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body class="body-yir24">
    <%- include('partials/navbar') %>
        <main class="yir24_main-wrap">
            <%- include('partials/hero') %>
                <%- include('partials/projects') %>
                    <%- include('partials/testimonials') %>
                        <%- include('partials/highlights') %>
                            <%- include('partials/team') %>
                                <%- include('partials/subscriptions') %>
                                    <%- include('partials/message') %>
        </main>
        <div class="yir24_footer-wrap">
            <%- include('partials/footer') %>
        </div>
        <%- include('partials/scripts') %>
</body>

</html>